#main-player-container{
    max-height: 450px;
    min-width: 400px;
    position: relative;
}

#master{
    height: 100%;
    width: 100%;
}

#pip-container-container{
    height: 31%;
    min-height: 100px;
    min-width: 200px;
    position: absolute;
    width: 31%;
}


