<vg-player id="main-player-container">
      
  <div id="main-player">
        
    <vg-controls>
          
      <vg-play-pause></vg-play-pause>
      <vg-mute   vgFor="master"></vg-mute>
      <vg-volume vgFor="master"></vg-volume>
      
      <vg-scrub-bar>
      
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          
      </vg-scrub-bar>
          
      <vg-fullscreen></vg-fullscreen>
          
    </vg-controls>
        
    <video id="master"
           #masterRef
           [vgMedia]="masterRef"
           [vgMaster]="true"          
           [src]=masterVideo>           
    </video>
  
  </div>

  <div id="pip-container-container">

    <app-vg-pip *ngIf="selectedCamera"
                (onCloseCam)="selectedCamera = null"
                [source]="selectedCamera">
    </app-vg-pip>
  
  </div>
      
</vg-player>
  
<ul>

  <li *ngFor="let camera of cameras">
    <label>
      <input type="radio" name="cameraGroup" [value]="camera.source" (change)="onSelectCamera(camera)">{{camera.name}}
    </label>
  </li>
  
</ul>
